body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 45px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
  color: #25ac6a;
}

a {
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #25ac6a;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  color: #666;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
}

.hero-section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 145px;
  background-image: url('../images/design-desk.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-section.theproject-page {
  position: relative;
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/rsz_green-tree-forest-880675.png');
  background-position: 50% 38%;
}

.hero-section.blog-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/rsz_green-tree-forest-880675.png');
  background-position: 50% 38%;
}

.hero-section.theplan-hero {
  height: 16%;
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/rsz_green-tree-forest-880675.png');
  background-position: 50% 38%;
  font-weight: 700;
}

.hero-section.blog-post-hero {
  padding-bottom: 150px;
}

.hero-section.home-page-hero {
  display: block;
  margin-top: 0px;
  padding-bottom: 163px;
  background-image: url('../images/rsz_green-tree-forest-880675.png');
  background-position: 50% 40%;
  background-size: cover;
}

.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #1d2d2a;
}

.logo-text {
  margin-top: 11px;
  padding-left: 20px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

.logo-text.footer-logo {
  margin-top: 3px;
}

.nav-link {
  opacity: 1;
  -webkit-transition-property: none;
  transition-property: none;
  color: #f0eee9;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #f0eee9;
  font-size: 20px;
  font-weight: 900;
  text-align: left;
}

.nav-link.contact {
  margin-top: 9px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.3);
  font-size: 12px;
  line-height: 18px;
}

.nav-link.footer-link {
  margin-top: 0px;
  padding: 10px;
  float: right;
  text-decoration: none;
}

.section {
  overflow: visible;
  height: 65.974383%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.top-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.top-section.home-page {
  border-radius: 0px;
  box-shadow: 1px 1px 3px 0 #000;
}

.section.gray-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ececec;
}

.hero-container {
  position: relative;
  top: -70px;
  margin-top: -93px;
  padding: 5px;
  background-color: #050505;
}

.hero-container.project-container {
  padding: 10px;
}

._60block {
  width: 60%;
  height: 300px;
  padding: 5px;
  float: left;
}

.hero-tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tile-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-color: #4b6651;
  background-image: none;
  background-size: auto;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.tile-image:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tile-image.hire {
  background-color: #322338;
  background-image: none;
  background-size: auto;
}

.tile-text {
  position: absolute;
  left: 25px;
  bottom: 24px;
  z-index: 20;
  color: #fff;
  font-size: 27px;
  line-height: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.37);
}

._40block {
  position: relative;
  width: 40%;
  height: 300px;
  padding: 5px;
  float: left;
}

._33block {
  width: 33.33%;
  height: 300px;
  padding: 5px;
  float: left;
}

.social-block {
  width: 50%;
  height: 145px;
  float: left;
  background-color: #4b6651;
  background-image: url('../images/AlgonquinLogo3White-02.png');
  background-position: 50% 50%;
  background-size: 98% 90%;
  background-repeat: no-repeat;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

.social-block:hover {
  background-color: #3d90cf;
}

.social-block.facebook {
  background-color: #3765a3;
  background-image: url('../images/FlemingLogo.jpg');
  background-size: 100% 100%;
}

.social-block.facebook:hover {
  background-color: #23528f;
}

.social-block.pinterest {
  background-color: #c92228;
  background-image: url('../images/TripAdvisorLogo.jpg');
  background-position: 50% 50%;
  background-size: 120% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.social-block.pinterest:hover {
  background-color: #aa1217;
}

.social-block.dribbble {
  display: inline-block;
  border: 1px none #000;
  background-color: #4b6651;
  background-image: url('../images/pinterest.svg');
  background-position: 50% 50%;
  background-size: 80px;
  background-repeat: no-repeat;
  color: #1d2d2a;
}

.social-block.dribbble:hover {
  background-color: #c02c67;
}

.footer-section {
  position: static;
  top: 5px;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: #2a2a2a;
}

.nav-menu {
  background-color: #1d2d2a;
  color: #f0eee9;
  font-size: 20px;
}

.tile-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../images/bencicsarah_15-09-2017_05-41-47---Copy.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-align: center;
}

.close-link {
  display: block;
  margin-bottom: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.close-link:hover {
  opacity: 1;
  color: #fff;
}

.text-field {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 16px;
}

.text-field:focus {
  border-color: hsla(0, 0%, 100%, 0.3);
  color: #fff;
}

.text-field.text-area {
  height: 120px;
}

.form-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  background-color: #55acee;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-size: 17px;
}

.submit-button:hover {
  background-color: #3765a3;
}

.contact-heading {
  color: #fff;
  font-size: 30px;
  line-height: 32px;
}

.small-divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 10px auto;
  background-color: #fff;
  opacity: 0.2;
}

.small-divider.dark-divider {
  background-color: #000;
}

.contact-text {
  margin-bottom: 20px;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.success-message {
  background-color: #2bab68;
}

.success-text {
  margin-bottom: 0px;
  color: #fff;
}

.hero-overlay {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  margin-top: 145px;
  padding-top: 0px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.cta-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #4b6651;
  text-align: center;
  cursor: default;
}

.cta-heading {
  margin-bottom: 18px;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.button {
  padding: 15px 40px;
  background-color: #4b6651;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #088347;
  color: #fff;
}

.project-image {
  height: 250px;
  border-radius: 3px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
}

.project-image:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.project-block {
  padding: 8px;
}

.project-title {
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.project-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 9px 10px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.project-link {
  display: block;
  overflow: hidden;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #333;
  text-decoration: none;
}

.project-link:hover {
  color: #55acee;
}

.project-link.blog-link {
  height: 340px;
}

.project-link.blog-link:hover {
  color: #333;
}

.alternate-image {
  height: 360px;
  margin-bottom: 15px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.project-text {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

.blog-block {
  position: relative;
  padding: 10px;
}

.blog-image {
  position: relative;
  height: 100%;
  margin-bottom: 10px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.blog-title {
  margin-bottom: 5px;
  padding-right: 5px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.blog-description {
  margin-bottom: 10px;
  color: #666;
}

.blog-date {
  position: absolute;
  left: 10px;
  top: 13px;
  z-index: 10;
  color: #fff;
}

.blog-author {
  display: inline-block;
  margin-right: 3px;
  color: #888;
  font-style: italic;
}

.blog-category {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 7px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  line-height: 14px;
}

.blog-post-wrapper {
  padding-top: 30px;
}

.blog-details {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
}

.hero-text-wrapper {
  position: relative;
  z-index: 10;
  text-align: center;
}

.author-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  text-align: center;
}

.author-image {
  width: 150px;
  margin-bottom: 5px;
  border-radius: 200px;
}

.author-name {
  color: #444;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.author-bio {
  color: #666;
  font-size: 17px;
  line-height: 23px;
}

.home-page-heading {
  top: 81px;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0px;
  text-transform: none;
}

.tile-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.blog-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 180px;
  margin-bottom: 10px;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.main-content {
  height: 92.778666%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.image {
  max-width: 5%;
  margin-bottom: -93px;
  margin-left: 94px;
}

.link-block {
  position: absolute;
  width: 97%;
  height: 97%;
  background-color: #4b5366;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.link-block-2 {
  width: 100%;
  height: 100%;
  background-color: #1d2d2a;
  background-image: none;
  background-size: auto;
  background-repeat: repeat;
}

.body {
  background-color: #050505;
}

.container {
  position: absolute;
  left: 309px;
  top: 52px;
  margin-left: 383px;
}

.heading {
  margin-top: 145px;
  font-weight: 700;
}

.heading-2 {
  margin-top: 145px;
  font-weight: 700;
}

.heading-3 {
  top: 1px;
  margin-top: 145px;
  font-weight: 700;
}

.brand {
  padding-left: 44px;
}

.image-2 {
  position: relative;
  left: 8px;
  padding-left: 0px;
}

.slider {
  position: relative;
  left: 154px;
  top: 61px;
  width: 80%;
  height: 1000px;
}

.slide {
  background-image: url('../images/bencicsarah_22-09-2016_01-11-27---Copy.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-2 {
  padding-top: 0px;
  padding-bottom: 59px;
}

.div-block {
  position: relative;
  top: 36px;
  width: 500px;
  height: 800px;
  margin-left: 73px;
  padding-left: 98px;
}

.rich-text-block {
  position: relative;
  top: 60px;
}

.dropdown {
  width: 100%;
}

.text-block {
  font-size: 30px;
}

.grid-block {
  width: 100%;
  height: 5%;
  background-image: url('../images/bencicsarah_14-05-2018_05-29-24---Copy.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-block-2 {
  position: relative;
  left: -31px;
  top: 70px;
  width: 50%;
  height: 20%;
  margin-left: 168px;
  padding-left: 0px;
  font-family: 'Liu Jian Mao Cao', sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0%;
  text-transform: capitalize;
  white-space: nowrap;
}

.paragraph {
  font-size: 12px;
}

.paragraph-2 {
  font-size: 12px;
}

.heading-4 {
  top: -265px;
  margin-right: 0px;
  background-color: #5e8166;
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.image-3 {
  position: relative;
  left: 16px;
}

.paragraph-3 {
  font-size: 12px;
}

.rich-text-block-2 {
  font-family: Lato, sans-serif;
}

.heading-5 {
  top: -2px;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 40px;
  font-weight: 400;
}

.paragraph-4 {
  position: relative;
  top: 9px;
  width: 70%;
  height: 8%;
  margin-right: 170px;
  margin-bottom: -187px;
  color: #333;
}

.image-4 {
  position: relative;
  left: 778px;
  bottom: -122px;
}

.div-block-2 {
  height: 1%;
  margin-bottom: -110px;
}

.slider-2 {
  left: 674px;
  top: -851px;
  width: 28%;
  height: 30%;
  line-height: 20px;
}

.slide-2 {
  background-image: url('../images/HomeScreen-8.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url('../images/ButtonScreen-8.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.mask {
  width: 260px;
  height: 550px;
  line-height: 30px;
}

.columns {
  position: relative;
  top: -208px;
  margin-bottom: 17px;
}

.heading-6 {
  position: relative;
  top: -3px;
  color: #4b6651;
  font-weight: 400;
}

.container-2 {
  height: 70%;
  margin-bottom: -112px;
}

.block-quote {
  position: relative;
  top: -140px;
  height: 20px;
  margin-top: -50px;
  text-align: left;
}

.block-quote-2 {
  position: relative;
  top: -108px;
}

.image-5 {
  position: relative;
  left: 19px;
  clear: both;
}

.paragraph-5 {
  font-size: 12px;
}

.link {
  color: #6a6b6a;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.heading-7 {
  top: -39px;
  margin-top: 34px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 38px;
  font-weight: 400;
}

.image-6 {
  background-color: #fff;
}

.container-3 {
  position: relative;
  height: 75%;
  margin-top: 30px;
}

.image-7 {
  background-color: #fff;
}

.container-4 {
  position: relative;
  top: -39px;
}

.image-8 {
  position: relative;
  top: 25px;
}

.heading-8 {
  position: relative;
  top: 9px;
  margin-top: 39px;
  margin-bottom: 40px;
  color: #555454;
}

.heading-9 {
  position: relative;
  top: -13px;
  margin-top: 6px;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
}

.heading-10 {
  margin-top: 30px;
  color: #646363;
  font-size: 20px;
  font-weight: 400;
}

.paragraph-6 {
  margin-top: 52px;
  font-size: 18px;
}

.heading-11 {
  position: relative;
  top: -6px;
  margin-top: 3px;
  color: #4b6651;
  font-size: 30px;
  font-weight: 700;
}

.list {
  margin-top: -4px;
  font-size: 16px;
}

.list-item {
  padding-top: 0px;
}

.list-item-2 {
  padding-top: 6px;
}

.heading-12 {
  font-family: Lato, sans-serif;
  color: #4b6651;
  font-size: 30px;
  font-weight: 700;
}

.heading-13 {
  position: relative;
  top: -6px;
  color: #646262;
  font-size: 30px;
  font-weight: 700;
}

.italic-text {
  font-size: 16px;
}

.link-2 {
  color: #4b6651;
}

.link-3 {
  color: #5e8166;
}

.heading-14 {
  position: relative;
  top: 28px;
  color: #646262;
  font-size: 30px;
  font-weight: 400;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.columns-3-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph-7 {
  margin-top: 34px;
  margin-bottom: 20px;
}

.list-2 {
  margin-top: -15px;
  font-size: 16px;
}

.columns-4 {
  margin-top: 24px;
  margin-bottom: 38px;
}

.image-9 {
  position: relative;
  left: 182px;
  padding-left: 37px;
}

.image-10 {
  position: relative;
  left: 220px;
  top: -35px;
}

.image-11 {
  position: relative;
  left: 230px;
}

.image-12 {
  position: relative;
  left: -39px;
  top: 26px;
  height: 250px;
}

.paragraph-8 {
  position: relative;
  top: -229px;
  margin-top: 36px;
  padding-top: 0px;
}

.image-13 {
  position: relative;
  left: 34px;
  top: -233px;
}

.paragraph-9 {
  position: relative;
  top: 30px;
}

.heading-15 {
  position: relative;
  top: -171px;
  color: #646262;
  font-size: 30px;
  font-weight: 400;
}

.paragraph-10 {
  position: relative;
  top: -165px;
  margin-bottom: 40px;
}

.heading-16 {
  position: relative;
  top: -317px;
  color: #646262;
  font-size: 30px;
  font-weight: 400;
}

.link-4 {
  text-decoration: none;
}

.heading-17 {
  top: -236px;
  color: #000;
}

.link-5 {
  color: #4b6651;
  font-weight: 400;
  text-decoration: none;
}

.image-14 {
  position: relative;
  left: 250px;
  top: -390px;
}

.paragraph-11 {
  position: relative;
  top: -305px;
}

.image-15 {
  position: relative;
  top: -282px;
}

.image-16 {
  position: relative;
  left: -21px;
  top: -417px;
  padding-right: 11px;
  padding-left: 7px;
}

.image-17 {
  position: relative;
  left: 483px;
  top: -168px;
}

.paragraph-12 {
  position: relative;
  top: -392px;
}

.link-6 {
  color: #4b6651;
  text-decoration: none;
}

.paragraph-13 {
  position: relative;
  top: -388px;
}

.image-18 {
  position: relative;
  left: 7px;
  top: -406px;
  height: 250px;
}

.html-embed {
  position: relative;
  top: -402px;
  width: 100%;
}

.image-19 {
  position: relative;
  left: 409px;
  top: -222px;
  height: 250px;
}

.image-20 {
  position: relative;
  left: 25px;
  top: -406px;
  height: 250px;
}

.paragraph-14 {
  position: relative;
  top: -294px;
  text-align: center;
}

.image-21 {
  position: relative;
  left: 8px;
  top: -418px;
}

.image-22 {
  position: relative;
  left: 520px;
  top: -587px;
}

.link-7 {
  color: #4b6651;
}

.bold-text {
  text-decoration: none;
}

.block-quote-3 {
  position: relative;
  top: 86px;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact-form {
  position: relative;
  top: -59px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-3 {
  color: #4b6651;
}

.slide-4 {
  background-image: url('../images/Map-Screen-8.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-5 {
  background-image: url('../images/List-of-Trails-Screen-8.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

html.w-mod-js *[data-ix="tile-1"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-2"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-3"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-4"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="hero-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .hero-section {
    padding-top: 88px;
  }
  .hero-section.home-page-hero {
    padding-top: 110px;
    padding-right: 114px;
    padding-left: 114px;
  }
  .nav {
    padding-top: 10px;
  }
  .nav-link.contact {
    margin-bottom: 11px;
    background-color: hsla(0, 0%, 100%, 0);
  }
  .nav-link.footer-link {
    margin-top: 9px;
  }
  .section {
    width: 100%;
    height: 100%;
  }
  .section.top-section {
    padding-bottom: 0px;
  }
  .tile-text {
    left: 22px;
    bottom: 22px;
    font-size: 30px;
    line-height: 33px;
  }
  .footer-section {
    position: relative;
    top: 121px;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: #55acee;
  }
  .nav-menu {
    background-color: #242424;
  }
  .footer-link-col {
    left: 21px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .contact-overlay {
    display: none;
    opacity: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .form-wrapper {
    width: 70%;
  }
  .cta-section {
    position: relative;
    top: 161px;
  }
  .project-text {
    width: 90%;
  }
  .blog-block {
    padding: 4px;
  }
  .blog-image-wrapper {
    height: 170px;
    margin-bottom: 10px;
  }
  .container {
    left: 270px;
    top: 45px;
    width: 8%;
    height: 50%;
    margin-bottom: -53px;
    padding-bottom: 28px;
  }
  .image-2 {
    position: relative;
    left: -44px;
  }
  .text-block-2 {
    left: -88px;
    font-size: 30px;
  }
  .heading-4 {
    top: 101px;
  }
  .heading-5 {
    left: -25px;
  }
  .paragraph-4 {
    top: 8px;
    width: 90%;
    margin-bottom: -55px;
  }
  .slider-2 {
    left: 210px;
    top: 83px;
    width: 41%;
    height: 548px;
  }
  .columns {
    top: 118px;
  }
  .container-2 {
    height: 105%;
  }
  .block-quote-2 {
    top: 102px;
  }
  .image-9 {
    left: 76px;
  }
  .image-15 {
    left: 88px;
    top: -307px;
  }
  .paragraph-14 {
    top: -174px;
  }
  .image-21 {
    left: -238px;
    top: -80px;
  }
  .image-22 {
    left: 196px;
    top: -258px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 41px;
  }
  .hero-section {
    padding-bottom: 25px;
  }
  .hero-section.blog-post-hero {
    padding-bottom: 70px;
  }
  .hero-section.home-page-hero {
    padding-right: 46px;
    padding-bottom: 60px;
    padding-left: 46px;
  }
  .logo-text {
    margin-bottom: 19px;
  }
  .nav-link.contact {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 20px;
  }
  .nav-link.footer-link {
    float: none;
  }
  .nav-link.footer-link.contact {
    float: none;
  }
  .section {
    height: 82%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .section.top-section.home-page {
    overflow: auto;
    height: 200%;
    padding-right: 5px;
    padding-left: 5px;
  }
  .hero-container {
    top: auto;
    padding: 5px 0px;
  }
  .tile-text {
    left: 17px;
    bottom: 14px;
    font-size: 23px;
    line-height: 29px;
  }
  .social-block {
    background-size: 90% 90%;
  }
  .social-block.facebook {
    background-size: 100% 100%;
  }
  .social-block.pinterest {
    background-size: 140% 100%;
  }
  .social-block.dribbble {
    background-size: 40px;
  }
  .footer-section {
    top: 168px;
  }
  .menu-button {
    left: -224px;
    top: 85px;
    right: 35px;
  }
  .logo-footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .footer-link-col {
    text-align: center;
  }
  .form-wrapper {
    width: 80%;
  }
  .cta-section {
    top: 217px;
  }
  .project-title {
    font-size: 25px;
    line-height: 28px;
  }
  .project-link.blog-link {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }
  .project-text {
    width: 100%;
  }
  .blog-post-wrapper {
    padding-top: 0px;
  }
  .author-wrapper {
    width: 90%;
    margin-bottom: 39px;
  }
  .feature-section {
    padding: 40px 20px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature-image-mask {
    margin-right: 0px;
  }
  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }
  .main-content {
    padding: 40px 20px;
  }
  .container {
    position: relative;
    left: 139px;
    top: -50px;
    width: 50%;
    height: 50%;
    margin-bottom: -192px;
    margin-left: 363px;
    padding-bottom: 0px;
  }
  .paragraph {
    margin-bottom: 46px;
  }
  .paragraph-2 {
    margin-bottom: 10px;
    padding-bottom: 0px;
  }
  .heading-4 {
    top: 115px;
  }
  .slider-2 {
    left: 106px;
    top: 80px;
  }
  .columns {
    top: 131px;
  }
  .block-quote-2 {
    top: 147px;
  }
  .column {
    top: 24px;
  }
  .column-2 {
    top: 34px;
  }
  .image-9 {
    left: -14px;
  }
  .heading-16 {
    top: -232px;
  }
  .heading-17 {
    top: -147px;
  }
  .image-14 {
    left: 75px;
    top: -228px;
  }
  .paragraph-11 {
    top: -215px;
  }
  .image-15 {
    left: 7px;
    top: -206px;
  }
  .image-16 {
    left: 16px;
    top: -439px;
  }
  .image-17 {
    left: 17px;
    top: 71px;
  }
  .paragraph-12 {
    top: -201px;
  }
  .paragraph-13 {
    top: -178px;
  }
  .image-18 {
    left: 51px;
    top: -230px;
  }
  .html-embed {
    top: -237px;
  }
  .image-20 {
    top: -223px;
  }
  .paragraph-14 {
    top: -112px;
  }
  .image-21 {
    left: 156px;
    top: -235px;
  }
  .image-22 {
    left: -85px;
    top: -133px;
    text-align: center;
  }
  .block-quote-3 {
    top: 152px;
  }
  .contact-form {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.38);
  }
  .hero-section.blog-hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .hero-section.theplan-hero {
    padding: 80px 20px 40px;
  }
  .hero-section.blog-post-hero {
    padding-bottom: 60px;
  }
  .hero-section.home-page-hero {
    padding-right: 10px;
    padding-left: 10px;
  }
  .logo-text {
    font-size: 26px;
  }
  .logo-text.footer-logo {
    position: relative;
    left: -9px;
    padding-left: 0px;
  }
  .nav-link.footer-link {
    position: relative;
    left: -3px;
    top: -9px;
    display: block;
    font-size: 13px;
  }
  .nav-link.footer-link.w--current {
    left: -3px;
    top: -9px;
    text-align: center;
  }
  .nav-link.footer-link.contact {
    position: relative;
    left: -5px;
    top: 9px;
    padding: 9px;
    font-size: 13px;
  }
  .section {
    height: 76%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  ._60block {
    width: 100%;
  }
  .tile-text {
    left: 30px;
    bottom: 30px;
    font-size: 35px;
    line-height: 35px;
  }
  ._40block {
    width: 100%;
  }
  ._33block {
    width: 100%;
  }
  .social-block {
    background-size: 65% 95%;
    background-repeat: no-repeat;
  }
  .social-block.facebook {
    background-size: 110% 100%;
  }
  .social-block.pinterest {
    background-size: 130% 100%;
  }
  .social-block.dribbble {
    background-size: 100% 90%;
    background-attachment: scroll;
  }
  .menu-button {
    left: -334px;
    top: 77px;
    right: 55px;
    height: 60px;
  }
  .footer-link-col {
    left: 5px;
    display: block;
    padding-left: 0px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .close-link:hover {
    color: #fff;
  }
  .form-wrapper {
    width: 90%;
  }
  .cta-section {
    height: 5%;
  }
  .cta-heading {
    font-size: 28px;
  }
  .project-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .project-title {
    left: 15px;
    bottom: 25px;
    font-size: 20px;
    line-height: 25px;
  }
  .project-tag {
    right: 18px;
  }
  .project-link.blog-link {
    margin-bottom: 15px;
  }
  .blog-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .blog-details {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
  }
  .author-wrapper {
    width: 100%;
  }
  .home-page-heading {
    font-size: 45px;
    line-height: 50px;
  }
  .text-block-2 {
    font-size: 15px;
  }
  .heading-4 {
    top: 92px;
  }
  .heading-5 {
    left: 1px;
    top: -19px;
  }
  .paragraph-4 {
    height: 30%;
    margin-bottom: 17px;
  }
  .slider-2 {
    left: 9px;
    top: 62px;
    width: 68%;
    height: 550px;
  }
  .columns {
    top: 110px;
  }
  .heading-7 {
    left: -6px;
  }
  .image-9 {
    left: -3px;
  }
  .image-12 {
    left: -3px;
  }
  .image-13 {
    left: -2px;
  }
  .heading-16 {
    top: -213px;
  }
  .heading-17 {
    top: -216px;
  }
  .image-14 {
    left: -2px;
    top: -212px;
  }
  .image-16 {
    left: -1px;
  }
  .image-18 {
    left: 3px;
  }
  .image-20 {
    left: 2px;
  }
  .image-21 {
    left: 25px;
    top: -183px;
  }
  .image-22 {
    left: 0px;
  }
  .block-quote-3 {
    top: 186px;
  }
}

#w-node-8fb0a07d3e5c-fba268e4 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

@media screen and (max-width: 479px) {
  #w-node-8fb0a07d3e4c-fba268e4 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-8fb0a07d3e50-fba268e4 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-8fb0a07d3e54-fba268e4 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
  #w-node-8fb0a07d3e58-fba268e4 {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@font-face {
  font-family: 'Highfield';
  src: url('../fonts/Highfield-Thin.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
.contaner2 {
  padding: 0 16px;
}

.contaner2:after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: white;
}
